.top_div {
  height: 32vh;
  background-image: url("../img/background.jpeg");
  background-position: center bottom;
  display: flex;
  position: relative;
}
.top_div .img_div {
  position: absolute;
  padding: 20px 10px;
  border-radius: 20px;
  background-color: #fff;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  box-shadow: 0 0 10px #00000070;
}
.top_div img {
  width: 180px;
}
.top_div #reload {
  position: absolute;
  display: none;
  top: 1vh;
  left: 2vw;
  padding: 5px;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.4;
  transition: 0.2s;
}
.top_div #reload:hover {
  opacity: 1;
  box-shadow: -2px -2px 5px #00000090;
  font-weight: bold;
}

.bot_div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: -4vh;
  border: 1px solid #00000050;
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 52vh;
  background-color: #fff;
}
.bot_div > div {
  width: 88%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.bot_div input {
  width: 100%;
  height: clamp(40px, 15vh, 60px);
  border: 1px solid #000000aa;
  border-radius: 20px;
  font-size: 1.5rem;
  text-indent: 20px;
}
.bot_div #password {
  -webkit-text-security: disc;
}
.bot_div input::-webkit-inner-spin-button {
  display: none;
}
.bot_div div:nth-child(4) input {
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
}
.bot_div label {
  position: absolute;
  background-color: transparent;
  color: #00000070;
  letter-spacing: 3px;
  text-indent: 3px;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5rem;
  transition: 0.5s;
}
.bot_div #visibility_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 36px;
  cursor: pointer;
  z-index: 1;
}
.bot_div input:focus ~ label,
.bot_div input:valid ~ label {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 5px;
  font-size: 1rem;
  top: 5%;
  left: 10%;
}
.bot_div span {
  cursor: pointer;
}
.bot_div div:nth-child(3) {
  line-height: 35px;
  text-align: right;
}
.bot_div #entrar {
  background-color: #f00000e0;
  width: 100%;
  color: #fff;
  height: 70px;
  border-radius: 20px;
  font-size: 1.5rem;
  text-indent: 20px;
  border: 5px inset #ff0000;
}
.bot_div #entrar:hover {
  background-color: #0000f0e0;
  border: 5px inset #0000ff;
}
.bot_div #entrar:disabled {
  background-color: gray;
  border: none;
}

.back_div {
  position: absolute;
  background-attachment: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000d0;
  z-index: 1;
}
.div_cadastro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #00000080, inset -5px -5px 5px #00000080, inset 5px 5px 5px #00ffff90;
  padding: 30px;
  background-color: #92a8d199;
  text-align: center;
}
.div_cadastro div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div_cadastro div > * {
  margin: 2px;
  max-width: 150px;
}
.div_cadastro .div_concluir {
  margin-top: 50px;
}
.div_cadastro input {
  text-align: center;
}
.div_cadastro input[type="button"] {
  width: 80px;
}
.add_novo {
  color: blue;
  text-decoration: underline;
}
